@media(max-width:393px){
    .card{
        max-width: 33rem;
    }

    .card .profile-card .profile-photo{
        right: 11rem;
    }
}

@media(max-width:320px){
    .card{
        max-width: 30rem;
    }

    .card .profile-card .profile-photo{
        right: 9.9rem;
    }
}